<%- include("header.ejs") %>
<head>
    <style>
        .background {
            background-color: #f3f0fc;
        }
    </style>
</head>

<!-- Gradient -->
<div class="bg-gradient-to-b from-[#f3f0fc] from-0% to-[#ffffff] to-100% h-8"></div>
<!-- Gradient End -->

<div class="w-fit mx-auto">
    <h1 class="text-center font-bold text-yellow-500 text-3xl">TRANSFER CERTIFICATES</h1>
    <span class="block border-t-4 border-yellow-500 w- mx-auto rounded-full"></span>
</div>

<ul class="list-none p-0 py-4">
    <% sessions.forEach((session, index) => { %>
    <li class="z-50 block rounded-md py-2 text-base text-center font-medium w-fit mx-auto">
        <button id="dropdownButton1<%= index + 1 %>" data-collapse-toggle="dropdownContent1<%= index + 1 %>"
            type="button" aria-controls="dropdownContent1<%= index + 1 %>" aria-expanded="false" class="ut-1">
            <div class="flex mx-auto px-3"> 
                <%= session.year %> <!-- Display session year -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="mt-0.5">
                    <path d="M6 9l6 6l6 -6"></path>
                </svg>
            </div>
        </button>
        <div id="dropdownContent1<%= index + 1 %>"
            class="hidden mx-auto top-0 w-full left-0 z-20 bg-[#e6e2f4] rounded-xl mt-2">
            <ul class="py-2 text-sm text-gray-700 text-center">
                <% classes.forEach((cls) => { %>
                    <% if (cls.sessionId && cls.sessionId._id.toString() === session._id.toString()) { %>
                        <li>
                            <a href="/class_students/<%= cls._id %>" class="block px-4 py-2 hover:bg-violet-100 rounded-xl">
                                <div class="text-center text-xl py-2 text-violet-800"> <%= cls.className %></div>
                            </a>
                        </li>
                        <span class="block border-t-2 border-purple-300 w-[98%] mx-auto rounded-full"></span>
                    <% } %>
                <% }) %>
                <% if (classes.filter(cls => cls.sessionId && cls.sessionId._id.toString() === session._id.toString()).length === 0) { %>
                    <li>No classes available for this session.</li>
                <% } %>
            </ul>
        </div>
    </li>
    <% }) %>
</ul>

<%- include("Footer.ejs") %>
