<%- include("header.ejs") %>
  <!-- Add Schema Markup -->
  <script type="application/ld+json">
    <%= JSON.stringify(schemaMarkup) %>
  </script>
</head>
<body class="p-12 text-center">
  <h1><%= schemaMarkup.headline %></h1>
  <p><%= schemaMarkup.description %></p>
  <p>By <%= schemaMarkup.author.name %></p>
</body>
</html>
