<%- include("header.ejs") %>
  <!DOCTYPE html>

  <head>
    <style>
      .background {
        background-color: #f3f0fc;
      }
    </style>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>

  <body>
    <div class="md:flex p-4 xl:px-16 block bg-[#f3f0fc] z-0">
      <div class="block p-6 md:w-1/2 " data-aos="fade-up">
        <div
          class="bg-[#D2C6FA] rounded-3xl w-fit my-4 p-2 text-center text-[#201042] font-semibold rotate-[-1deg] mx-auto md:mx-0">
          Welcome to Divine
          Wisdom School
        </div>
        <h1 class="font-extrabold text-6xl md:text-left text-center">Creating a brighter future for your children
        </h1>
        <h2 class="font-medium leading-8 md:text-left text-center">At <span class="font-extrabold">DIVINE WISDOM
            SCHOOL</span>, we believe in inculcating the value based quality education for its students in
          co-ordination with the teachers and parents. This will enable every student to become a responsible
          citizen of <span class="font-extrabold">BHARAT</span> to serve his motherland in a patriotic way.
        </h2>
        <div class="md:flex py-4 justify-center md:justify-start w-fit mx-auto md:mx-0">
          <a href="/admissions/" tabindex="-1">
            <div
              class="bg-[#F6C663] hover:bg-[#F9BC3E] flex rounded-full text-center text-xl px-4 py-2 md:my-0 my-4 animation-arrow mx-auto">
              <div>Enroll Today</div>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="my-auto mx-auto">
                <path d="M5 12l14 0"></path>
                <path d="M15 16l4 -4"></path>
                <path d="M15 8l4 4"></path>
              </svg>
            </div>
          </a>
          <a href="https://www.facebook.com/share/v/1B65DUN6cs/?mibextid=wwXIfr" tabindex="-1"
            class=" bg-[#D2C6FA] rounded-full flex mx-2 text-center text-xl px-4 py-2 grouping hover:text-white transition ease-in duration-300">
            <div class="text-[#4F49A5] hover:text-white transition ease-in duration-300  my-auto childgrp">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                class="mx-auto my-auto ">
                <path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z"
                  fill="currentColor" stroke-width="0"></path>
              </svg>
            </div>
            Watch video
          </a>
        </div>
        <div class="md:block mt-4 uppercase hidden">
          <div class="font-semibold my-4">Rated 5 stars by over <span class="text-purple-900 ">Thousand of
              parents</span>
          </div>
          <div class="flex divide-x-[1px]">
            <div class="block pr-4">
              <div class="flex justify-center">
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </div>
              <div class="text-center">GREAT SCHOOLS</div>
            </div>
            <div class="block px-4">
              <div class="flex justify-center">
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </div>
              <div class="text-center">PRIVATE SCHOOL REVIEW</div>
            </div>
            <div class="block px-4">
              <div class="flex justify-center">
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </div>
              <div class="text-center">GOOGLE REVIEWS</div>
            </div>
          </div>
        </div>
      </div>

      <div class="mx-auto my-auto md:w-2/4" data-aos="fade-up">
        <% if (homeimgData && homeimgData.length> 0) { %>
          <img alt="<%= homeimgData[0].image_title %>" src="<%= homeimgData[0].image_url %>" loading="lazy"
            class="w-fit mx-auto aspect-auto rounded-xl">
          <% } else { %>
            No image
            <% } %>
      </div>

      <div class="block mt-4 uppercase md:hidden w-fit mx-auto" data-aos="fade-up">
        <div class="font-semibold my-4 text-center">Rated 5 stars by over <span class="text-purple-900 ">1000
            parents</span>
        </div>
        <div class="flex justify-center">
          <div class="sm:flex sm:divide-x-[1px] block divide-y-[1px] sm:divide-y-0">
            <div class="block py-4 sm:pr-4">
              <div class="flex justify-center">
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </div>
              <div class="text-center">GREAT SCHOOLS</div>
            </div>
            <div class="block px-4 py-4">
              <div class="flex justify-center">
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </div>
              <div class="text-center">PRIVATE SCHOOL REVIEW</div>
            </div>
            <div class="block px-4 py-4">
              <div class="flex justify-center">
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
                <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                </svg>
              </div>
              <div class="text-center">GOOGLE REVIEWS</div>
            </div>
          </div>
        </div>
      </div>

    </div>




    <!-- Gradient -->
    <div class="bg-gradient-to-b from-[#f3f0fc] from-0% to-[#fef7e7] to-100% md:h-48 h-32">
    </div>
    <!-- Gradient End -->




    <div class=" bg-[#fef7e7]">
      <h2 class="dHctbWF4LXctNHhs dHctbXgtYXV0bw dHctdGV4dC1jZW50ZXI dHctdGV4dC1wdXJwbGUtOTAw h2 px-4 "
        data-aos="fade-up">Providing the
        best possible start to your children's education</h2>
      <p data-aos="fade-up"
        class="dHctbWF4LXctM3hs dHctbXgtYXV0bw dHctbXQtNA dHctdGV4dC14bA dHctbGVhZGluZy1yZWxheGVk dHctdGV4dC1jZW50ZXI dHctdGV4dC1wdXJwbGUtODAw px-4">
        At DWS, we are dedicated to providing a nurturing and enriching environment that lays a solid foundation
        for
        your child's educational journey. Our commitment to excellence is evident in every aspect of our
        approach:
      </p>
      <div class="dHctbWF4LXctM3hs dHctbXgtYXV0bw dHctbXQtMTI px-4">
        <ul id="myList"
          class="dHctZmxleA dHctZmxleC13cmFw dHctaXRlbXMtY2VudGVy dHctanVzdGlmeS1jZW50ZXI LXR3LW14LTM LXR3LW15LTI dHctdGV4dC1sZw dHctdGV4dC1wdXJwbGUtODAw">
          <li data-aos="fade-up-right" data-aos-delay="000"
            class="dHctZmxleA dHctaXRlbXMtY2VudGVy dHctbXgtMw dHctbXktMg"><img alt="tick" width="500" height="475"
              decoding="async" data-nimg="1" class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03 ml-4"
              style="color:transparent" src="/icons/tick.svg"><span>Personalized</span>
          </li>
          <li data-aos="fade-up-right" data-aos-delay="150"
            class="dHctZmxleA dHctaXRlbXMtY2VudGVy dHctbXgtMw dHctbXktMg"><img alt="tick" width="500" height="475"
              decoding="async" data-nimg="1" class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03 ml-4"
              style="color:transparent" src="/icons/tick.svg"><span>Small classes</span>
          </li>
          <li data-aos="fade-up-left" data-aos-delay="300"
            class="dHctZmxleA dHctaXRlbXMtY2VudGVy dHctbXgtMw dHctbXktMg"><img alt="tick" width="500" height="475"
              decoding="async" data-nimg="1" class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03 ml-4"
              style="color:transparent" src="/icons/tick.svg"><span>Montessori</span>
          </li>
          <li data-aos="fade-up-left" data-aos-delay="450"
            class="dHctZmxleA dHctaXRlbXMtY2VudGVy dHctbXgtMw dHctbXktMg"><img alt="tick" width="500" height="475"
              decoding="async" data-nimg="1" class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03 ml-4"
              style="color:transparent" src="/icons/tick.svg"><span>STEM focused</span>
          </li>
          <li data-aos="fade-up-right" data-aos-delay="600"
            class="dHctZmxleA dHctaXRlbXMtY2VudGVy dHctbXgtMw dHctbXktMg"><img alt="tick" width="500" height="475"
              decoding="async" data-nimg="1" class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03 ml-4"
              style="color:transparent" src="/icons/tick.svg"><span>Hands-on approach</span>
          </li>
          <li data-aos="fade-up-left" data-aos-delay="750"
            class="dHctZmxleA dHctaXRlbXMtY2VudGVy dHctbXgtMw dHctbXktMg"><img alt="tick" width="500" height="475"
              decoding="async" data-nimg="1" class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03 ml-4"
              style="color:transparent" src="/icons/tick.svg"><span>Diverse teachers &amp; students</span>
          </li>
          <li data-aos="fade-up-left" data-aos-delay="900"
            class="dHctZmxleA dHctaXRlbXMtY2VudGVy dHctbXgtMw dHctbXktMg"><img alt="tick" width="500" height="475"
              decoding="async" data-nimg="1" class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03 ml-4"
              style="color:transparent" src="/icons/tick.svg"><span>Experienced staff</span>
          </li>
        </ul>
      </div>
      <script>
        // Function to update data-aos based on screen width
        function updateAOSBasedOnScreenSize() {
          const listItems = document.querySelectorAll("#myList li");

          const screenWidth = window.innerWidth;

          listItems.forEach((item, index) => {
            let newAosValue = '';

            if (screenWidth >= 1024) {
              switch (index) {
                case 0:
                  newAosValue = 'fade-up-right';
                  break;
                case 1:
                  newAosValue = 'fade-up-right';
                  break;
                case 2:
                  newAosValue = 'fade-up-left';
                  break;
                case 3:
                  newAosValue = 'fade-up-left';
                  break;
                case 4:
                  newAosValue = 'fade-up-right';
                  break;
                case 5:
                  newAosValue = 'fade-up-left';
                  break;
                case 6:
                  newAosValue = 'fade-up-left';
                  break;
              }
            } else if (screenWidth >= 768) {
              switch (index) {
                case 0:
                  newAosValue = 'fade-up';
                  break;
                case 1:
                  newAosValue = 'fade-up';
                  break;
                case 2:
                  newAosValue = 'fade-up';
                  break;
                case 3:
                  newAosValue = 'fade-up';
                  break;
                case 4:
                  newAosValue = 'fade-up';
                  break;
                case 5:
                  newAosValue = 'fade-up';
                  break;
                case 6:
                  newAosValue = 'fade-up';
                  break;
              }
            } else {
              switch (index) {
                case 0:
                  newAosValue = 'fade-up';
                  break;
                case 1:
                  newAosValue = 'fade-up';
                  break;
                case 2:
                  newAosValue = 'fade-up';
                  break;
                case 3:
                  newAosValue = 'fade-up';
                  break;
                case 4:
                  newAosValue = 'fade-up';
                  break;
                case 5:
                  newAosValue = 'fade-up';
                  break;
                case 6:
                  newAosValue = 'fade-up';
                  break;
              }
            }
            item.setAttribute('data-aos', newAosValue);
          });
        }
        updateAOSBasedOnScreenSize();
        window.addEventListener('resize', updateAOSBasedOnScreenSize);
      </script>

    </div>


    <div class="bg-[#fef7e7] pb-10 pt-6">
      <div class="md:flex md:p-4 block">
        <div data-aos="fade-up" class=" mx-auto my-auto max-w-lg md:px-6 px-10 md:w-1/2 flex-shrink-0">
          <!-- <img src="/icons//Group 1.svg" class="mx-auto my-auto" alt="students"> -->
          <div class="mx-auto w-full lg:pl-4 hidden md:block">
            <% if (visionMissionData && visionMissionData.length> 0) { %>
              <!-- First Vision & Mission Image -->
              <img src="<%= visionMissionData[0].image_url %>" loading="lazy"
                alt="<%= visionMissionData[0].image_title %>" class="w-[300px] h-[400px] ml-[100px] rounded-2xl">
              <% } %>

                <% if (visionMissionData && visionMissionData.length> 1) { %>
                  <!-- Second Vision & Mission Image -->
                  <img src="<%= visionMissionData[1].image_url %>" loading="lazy"
                    alt="<%= visionMissionData[1].image_title %>" class="w-[200px] h-[200px] rounded-2xl -mt-[100px]">
                  <% } %>
          </div>
          <div class="mx-auto w-full lg:pl-4 md:hidden">
            <% if (visionMissionData && visionMissionData.length> 0) { %>
              <!-- First Vision & Mission Image -->
              <img src="<%= visionMissionData[0].image_url %>" loading="lazy"
                alt="<%= visionMissionData[0].image_title %>" class="w-[300px] h-[300px] rounded-2xl mb-4 mx-auto">
              <% } %>

                <% if (visionMissionData && visionMissionData.length> 1) { %>
                  <!-- Second Vision & Mission Image -->
                  <img src="<%= visionMissionData[1].image_url %>" loading="lazy"
                    alt="<%= visionMissionData[1].image_title %>" class="w-[300px] h-[300px] rounded-2xl mx-auto">
                  <% } %>
          </div>
        </div>
        <div data-aos="fade-up" class="block p-6 mx-auto my-auto md:w-1/2">
          <div class="bg-[#D2C6FA] rounded-3xl w-fit my-4 p-2 text-center text-[#201042] font-semibold rotate-[-1deg]">
            An eclectic approach to education</div>
          <h3 class="font-extrabold md:text-6xl text-4xl">Our goal is to ensure your little one's success in
            life
          </h3>
          <br>
          <p class="font-medium leading-8">
            <Span class="uppercase text-3xl font-bold text-red-600 my-auto">Vision</Span>&nbsp;<br>
            <span class="my-auto">To create a well grounded foundation with safe and stimulating habitat
              where
              children can think creatively, reason critically, perceive positively, achieve their full
              potential by developing the sense of responsibility and empathy to become the valuable world
              citizen.</span>
            <br>
            <Span class="uppercase text-3xl font-bold text-red-600 my-auto">Mission</Span>&nbsp;<br>
            <span class="my-auto">To provide student- centric value based educational system to empower
              students
              to be innovative, entrepreneur, successful leaders and responsible citizen of 21st
              Century.</span>

          </p>
        </div>
      </div>





      <div class="md:flex p-4 block my-12">
        <div data-aos="fade-up" class=" mx-auto my-auto md:w-1/2 max-w-lg md:hidden">
          <div class="mx-auto w-full p-8 hidden md:block">
            <% if (environmentData && environmentData.length> 0) { %>
              <img src="<%= environmentData[0].image_url %>" loading="lazy" alt="<%= environmentData[0].image_title %>"
                class="w-[300px] h-[400px] ml-[100px] rounded-2xl">
              <% } %>
                <% if (environmentData && environmentData.length> 1) { %>
                  <img src="<%= environmentData[1].image_url %>" loading="lazy"
                    alt="<%= environmentData[1].image_title %>" class="w-[200px] h-[200px] rounded-2xl -mt-[100px]">
                  <% } %>
          </div>
          <div class="mx-auto w-full lg:pl-4 md:hidden">
            <% if (environmentData && environmentData.length> 0) { %>
              <!-- First Vision & Mission Image -->
              <img src="<%= environmentData[0].image_url %>" loading="lazy" alt="<%= environmentData[0].image_title %>"
                class="w-[300px] h-[300px] rounded-2xl mb-4 mx-auto">
              <% } %>

                <% if (environmentData && environmentData.length> 1) { %>
                  <!-- Second Vision & Mission Image -->
                  <img src="<%= environmentData[1].image_url %>" loading="lazy"
                    alt="<%= environmentData[1].image_title %>" class="w-[300px] h-[300px] rounded-2xl mx-auto">
                  <% } %>
          </div>
        </div>

        <div data-aos="fade-up" class="block mx-auto my-auto md:w-1/2 p-8">
          <div class="bg-[#D2C6FA] rounded-3xl w-fit my-4 p-2 text-center text-[#201042] font-semibold rotate-[-1deg]">
            A second home for your child</div>
          <h3 class="font-extrabold md:text-6xl text-4xl">We provide an environment that enables students to
            thrive
          </h3>
          <div class="font-medium leading-8">
            <p class="font-medium leading-8">A homely environment makes student disciplined, संस्कारित,
              lovable
              and
              successful in every walk of life.
            <div class="flex">
              <img alt="tick" width="500" height="475" decoding="async" data-nimg="1"
                class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03 mt-1" style="color:transparent"
                src="/icons/tick.svg">
              <div>
                <h3 class="font-bold">Advanced Infrastructure</h3>
                <p>A conducive environment for students to learn new dimensions of learning</p>
              </div>
            </div>

            <div class="flex">
              <img alt="tick" width="500" height="475" decoding="async" data-nimg="1"
                class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03 mt-1" style="color:transparent"
                src="/icons/tick.svg">
              <div>
                <h3 class="font-bold">NEP 2020 & NCF 2023 Curriculum</h3>
                <p>Student-focused Education under NEP 2020 and Bal Vatika in NCF 2023.</p>
              </div>
            </div>
            <div class="flex">
              <img alt="tick" width="500" height="475" decoding="async" data-nimg="1"
                class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03 mt-1" style="color:transparent"
                src="/icons/tick.svg">
              <div>
                <h3 class="font-bold">Ideal Student-Teacher Ratio</h3>
                <p>A conducive learning atmosphere with an ideal student-teacher ratio of 20:1.</p>
              </div>
            </div>
            <div class="flex">
              <img alt="tick" width="500" height="475" decoding="async" data-nimg="1"
                class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03 mt-1" style="color:transparent"
                src="/icons/tick.svg">
              <div>
                <h3 class="font-bold">Modern Teaching Curriculum</h3>
                <p>We employ 21st-century skills development among our students.</p>
              </div>
            </div>
            <div class="flex">
              <img alt="tick" width="500" height="475" decoding="async" data-nimg="1"
                class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03 mt-1" style="color:transparent"
                src="/icons/tick.svg">
              <div>
                <h3 class="font-bold">Fully Secured Campus with CCTV</h3>
                <p>A safe and secure campus with vigilant staff and CCTV surveillance.</p>
              </div>
            </div>
            <div class="flex">
              <img alt="tick" width="500" height="475" decoding="async" data-nimg="1"
                class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03 mt-1" style="color:transparent"
                src="/icons/tick.svg">
              <div>
                <h3 class="font-bold">Spacious Playfields</h3>
                <p>Spacious Playfields with lush green ambience to refine sportsmanship.</p>
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="flex py-4 animation-arrow w-fit">
                    <div data-modal-target="default-modal" data-modal-toggle="default-modal"
                        class="bg-[#4F49A5] flex rounded-full text-center cursor-pointer text-white text-xl px-4 py-2">
                        <div>Learn more</div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="mt-1">
                            <path d="M5 12l14 0"></path>
                            <path d="M15 16l4 -4"></path>
                            <path d="M15 8l4 4"></path>
                        </svg>
                    </div>
                </div> -->
        </div>

        <div data-aos="fade-up" class=" mx-auto my-auto md:w-1/2 max-w-lg flex-shrink-0 hidden md:flex">
          <div class="mx-auto w-full ml-12">
            <% if (environmentData && environmentData.length> 0) { %>
              <img src="<%= environmentData[0].image_url %>" loading="lazy" alt="<%= environmentData[0].image_title %>"
                class="w-[300px] h-[400px] ml-[100px] rounded-2xl">
              <% } %>
                <% if (environmentData && environmentData.length> 1) { %>
                  <img src="<%= environmentData[1].image_url %>" loading="lazy"
                    alt="<%= environmentData[1].image_title %>" class="w-[200px] h-[200px] rounded-2xl -mt-[100px]">
                  <% } %>
          </div>
        </div>
      </div>
    </div>


    <div class="lg:flex p-4 block mt-16">
      <div data-aos="fade-up" class="mx-auto my-auto lg:w-1/2 sm:grid grid-cols-2 block">
        <% if (teacherData && teacherData.length> 0) { %>
          <% teacherData.forEach(function(teacher, index) { %>
            <div class="flex-row mb-4 sm:mb-0">
              <div>
                <img src="<%= teacher.image_url %>" alt="<%= teacher.image_title %>" loading="lazy"
                  class="mx-auto my-auto rounded-2xl h-80 xl:h-96 xl:w-72 lg:w-56 md:w-72 w-full sm:w-64 <%= (index % 2 === 1) ? 'sm:mt-12' : '' %>">
              </div>
              <div class="text-center my-2">
                <div class="font-semibold text-xl">
                  <%= teacher.name %>
                </div>
                <div>
                  <%= teacher.designation %>
                </div>
              </div>
            </div>
            <% }); %>
              <% } %>
      </div>

      <div data-aos="fade-up" class="block md:p-6 mx-auto my-auto lg:w-1/2">
        <div class="bg-[#D2C6FA] rounded-3xl w-fit my-4 p-2 text-center text-[#201042] font-semibold rotate-[-1deg]">
          Your kids are in good hands</div>
        <div class="font-extrabold text-6xl">Meet the teachers behind DIVINE WISDOM SCHOOL</div>
        <div class="font-medium leading-8">
          At DWS, we recognize that exceptional education begins with exceptional teachers. Our team of
          educators
          is not only highly qualified but also deeply committed to nurturing your child’s academic and
          personal
          growth. Each member of our faculty embodies our core values and is dedicated to providing a
          supportive
          and enriching learning environment.
        </div>
        <div
          class="block p-10 md:px-10 px-4 bg-slate-600 rounded-xl dHctcmVsYXRpdmU dHctbWF4LXctNHhs dHctbXQtMTY dHctYmcteWVsbG93LTEwMA dHctcm91bmRlZC14bA sm:dHctbXQtMTQ">
          <span
            class="dHctYWJzb2x1dGU dHctZmxleA dHctaXRlbXMtY2VudGVy dHctanVzdGlmeS1jZW50ZXI dHctc2hhZG93LW1k dHctbGVmdC02 sm:dHctbGVmdC0xMA LXR3LXRvcC03 dHctcm91bmRlZC0yeGw dHctdy0xNA dHctaC0xNA dHctYmctZ3JhZGllbnQtdG8tYnI dHctZnJvbS1wdXJwbGUtNjAw dHctdG8tcHVycGxlLTYwMA"><svg
              xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
              class="dHctdy04 dHctaC04 dHctdGV4dC1wdXJwbGUtNTA">
              <path d="M15 15m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
              <path d="M13 17.5v4.5l2 -1.5l2 1.5v-4.5"></path>
              <path d="M10 19h-5a2 2 0 0 1 -2 -2v-10c0 -1.1 .9 -2 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -1 1.73">
              </path>
              <path d="M6 9l12 0"></path>
              <path d="M6 12l3 0"></path>
              <path d="M6 15l2 0"></path>
            </svg>
          </span>
          <div class="font-bold py-4">
            <!-- At DWS, we pride ourselves on the quality of our teachers. You can expect the following from
                    our teachers:
                    <br> -->
            Our teachers ensure that every child receives the attention and guidance they need to thrive.
            Here’s
            what you can expect from our teaching staff:
          </div>
          <div>
            <ul>
              <li class="dHctZmxleA dHctaXRlbXMtY2VudGVy dHctbXgtMw dHctbXktMg py-2"><img alt="tick" width="500"
                  height="475" decoding="async" data-nimg="1"
                  class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03" style="color:transparent"
                  src="/icons/tick.svg"><span class="font-medium">A minimum
                  of 3 years of experience</span>
              </li>
              <li class="dHctZmxleA dHctaXRlbXMtY2VudGVy dHctbXgtMw dHctbXktMg py-2"><img alt="tick" width="500"
                  height="475" decoding="async" data-nimg="1"
                  class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03" style="color:transparent"
                  src="/icons/tick.svg"><span class="font-medium">An
                  advanced
                  degree
                </span>
              </li>
              <li class="dHctZmxleA dHctaXRlbXMtY2VudGVy dHctbXgtMw dHctbXktMg py-2"><img alt="tick" width="500"
                  height="475" decoding="async" data-nimg="1"
                  class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03" style="color:transparent"
                  src="/icons/tick.svg"><span class="font-medium">Amazing
                  recommendations and positive reviews
                </span>
              </li>
              <li class="dHctZmxleA dHctaXRlbXMtY2VudGVy dHctbXgtMw dHctbXktMg py-2"><img alt="tick" width="500"
                  height="475" decoding="async" data-nimg="1"
                  class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03" style="color:transparent"
                  src="/icons/tick.svg"><span class="font-medium">A love and
                  passion for teaching and helping children grow and succeed
                </span>
              </li>
              <li class="dHctZmxleA dHctaXRlbXMtY2VudGVy dHctbXgtMw dHctbXktMg py-2"><img alt="tick" width="500"
                  height="475" decoding="async" data-nimg="1"
                  class="dHctZmxleC1zaHJpbmstMA dHctbXItMw dHctdy03 dHctaC03" style="color:transparent"
                  src="/icons/tick.svg"><span class="font-medium">A
                  commitment to creating a positive classroom experience for all students, no matter
                  their learning needs
                </span>
              </li>
            </ul>
            <div class="bg-yellow-500 flex rounded-full text-center px-4 ml-4 mt-8 py-2 animation-arrow w-fit">
              <a href="/about/#staff" tabindex="-1"> Meet the rest of our Team</a>
              <div class="my-auto">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="">
                  <path d="M5 12l14 0"></path>
                  <path d="M15 16l4 -4"></path>
                  <path d="M15 8l4 4"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





    <div class="lg:p-10 md:p-0 ">
      <div data-aos="fade-up" class="sm:w-1/2 sm:px-6 md:px-10 p-8">
        <h6 class="text-4xl font-extrabold">The best education programs for your child</h6>
        <p class="py-5">
          Where personalized learning meets hands-on exploration, fostering curiosity and academic
          excellence.</p>
      </div>
      <div class="sm:grid grid-rows-2 grid-flow-col gap-4 block">
        <div class=" row-span-2 w-full p-4">
          <div data-aos="fade-up" class="sm:flex justify-end hidden">
            <img alt="icon" width="500" height="500" decoding="async" data-nimg="1"
              class="dHctdG9wLTA dHctaGlkZGVu LXR3LXRyYW5zbGF0ZS15LTEvMg md:dHctYmxvY2s dHctbGVmdC0xLzI relative w-96 p-24 pb-0 pr-0"
              style="color:transparent" src="/icons/line design.svg">
          </div>
          <div data-aos="fade-up" class="bg-[#F3F0FC] rounded-xl relative p-6">
            <h6 class="text-3xl font-bold p-4 ">कुंजना 'बेटी है अनमोल</h6>
            <p class="p-4 pt-0 leading-7">
              School management adopts one girl child every year who is meritorious
              but economically weak and renders all the responsibility of their education. The Scholarship
              continuous to next year also provided that girl full fils desired conditions for the
              scholarship
            </p>
            <img class="rounded-xl" src="/icons/kunjana.png" alt="student">
            <div class="flex py-4 animation-arrow">
              <div class="bg-[#4F49A5] flex rounded-full text-center text-xl px-4 py-2 text-white">
                <div>Learn more</div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mt-1">
                  <path d="M5 12l14 0"></path>
                  <path d="M15 16l4 -4"></path>
                  <path d="M15 8l4 4"></path>
                </svg>
              </div>
            </div>
          </div>
          <div data-aos="fade-up" class=" sm:flex justify-end hidden">
            <img alt="line" width="500" height="500" decoding="async" data-nimg="1"
              class="dHctdG9wLTA dHctaGlkZGVu LXR3LXRyYW5zbGF0ZS15LTEvMg md:dHctYmxvY2s dHctbGVmdC0xLzI relative w-96 p-24 pt-0 pr-0"
              style="color:transparent" src="/icons/line 2.svg">
          </div>
        </div>
        <div data-aos="fade-up" class="p-4">
          <div class=" bg-[#FEF3DA] rounded-xl h-fit p-6">
            <h6 class="text-3xl font-bold p-4 ">8 POINT EDUCATIONAL PROGRAM</h6>
            <p class="p-4 pt-0 leading-7">
            <ul class=" px-8 mb-4">
              <a href="/PersonalGrowthandDevelopment/" tabindex="-1" class="hover:text-red-500">
                <li class="bg-yellow-500 p-4 m-4 w-fit mx-auto rounded-md text-lg font-semibold text-center">
                  PERSONAL GROWTH AND DEVELOPMENT</li>
              </a>
              <a href="/EffectiveInterpersonalSkills/" tabindex="-1" class="hover:text-red-500">
                <li class="bg-yellow-500 p-4 m-4 w-fit mx-auto rounded-md text-lg font-semibold text-center">
                  EFFECTIVE INTERPERSONAL SKILLS</li>
              </a>
              <a href="/EffectiveCommunicationSkills/" tabindex="-1" class="hover:text-red-500">
                <li class="bg-yellow-500 p-4 m-4 w-fit mx-auto rounded-md text-lg font-semibold text-center">
                  EFFECTIVE COMMUNICATION SKILLS</li>
              </a>
              <a href="/DeepenedSpiritualValues/" tabindex="-1" class="hover:text-red-500">
                <li class="bg-yellow-500 p-4 m-4 w-fit mx-auto rounded-md text-lg font-semibold text-center">
                  DEEPENED SPIRITUAL VALUES</li>
              </a>
              <a href="/IntellectualGrowth/" tabindex="-1" class="hover:text-red-500">
                <li class="bg-yellow-500 p-4 m-4 w-fit mx-auto rounded-md text-lg font-semibold text-center">
                  INTELLECTUAL GROWTH</li>
              </a>
              <a href="/RespondAesthetically/" tabindex="-1" class="hover:text-red-500">
                <li class="bg-yellow-500 p-4 m-4 w-fit mx-auto rounded-md text-lg font-semibold text-center">
                  RESPOND AESTHETICALLY</li>
              </a>
              <a href="/PrepareforOccupation/" tabindex="-1" class="hover:text-red-500">
                <li class="bg-yellow-500 p-4 m-4 w-fit mx-auto rounded-md text-lg font-semibold text-center">
                  PREPARE FOR AN OCCUPATION</li>
              </a>
              <a href="/SocialResponsibility/" tabindex="-1" class="hover:text-red-500">
                <li class="bg-yellow-500 p-4 m-4 w-fit mx-auto rounded-md text-lg font-semibold text-center">
                  SOCIAL RESPONSIBILITY</li>
              </a>
            </ul>
            </p>
            <!-- <img class="rounded-xl" src="/icons/pic.webp" alt="students"> -->
            <!-- <div class="flex py-4 animation-arrow">
                            <div class="bg-[#4F49A5] flex rounded-full text-center text-xl px-4 py-2 text-white">
                                <div>Learn more</div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="mt-1">
                                    <path d="M5 12l14 0"></path>
                                    <path d="M15 16l4 -4"></path>
                                    <path d="M15 8l4 4"></path>
                                </svg>
                            </div>
                        </div> -->
          </div>
        </div>
        <div class="p-4">
          <div class=" bg-[#EFF6FF] rounded-xl h-fit p-6">
            <h6 class="text-3xl font-bold p-4 ">Quality Policy</h6>
            <p class="p-4 pt-0 leading-7">
              We, at DWS, aim for inculcating the value based quality education for its students in
              co-ordination with the teachers and parents.
              This will enable the students to become responsible citizens of the Global Society.
            </p>
            <img class="rounded-xl" src="/icons/quality policy 1.png" alt="students">
            <div class="flex py-4 animation-arrow">
              <div class="bg-[#4F49A5] flex rounded-full text-center text-xl px-4 py-2 text-white">
                <div>Learn more</div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mt-1">
                  <path d="M5 12l14 0"></path>
                  <path d="M15 16l4 -4"></path>
                  <path d="M15 8l4 4"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div data-aos="fade-up" class="bg-[#49469F] md:p-20 p-6">
      <div>
        <h6 class="text-white text-center text-4xl font-bold p-4">See what parents are saying about us</h6>
        <p class="text-white text-center lg:px-56 md:px-36">Parents praise our school's supportive atmosphere,
          outstanding educators, and commitment to fostering each child's growth and success.</p>
      </div>
      <div class="lg:flex md:grid grid-row-2 gap-4 block">

        <div class="bg-[#FEF3D2] block w-full mt-4 rounded-xl p-8">
          <div>
            <!-- <img src="https://lh3.googleusercontent.com/a-/ALV-UjX5uPdPhKibjoYPJrPfE8qG-sx9wPhAVSUb2rkZqSKBRsNPTL2_XQ=s72-c-rp-mo-ba4-br100"
                            class="w-20 h-20 rounded-full border-2 border-yellow-500" alt="students"> -->
            <div class="w-20 h-20 rounded-full border-2 border-yellow-500 bg-blue-600 flex items-center justify-center">
              <h1 class="text-2xl font-medium text-center text-white">A</h1>
            </div>
          </div>
          <div class="py-2">Ankit Sharma</div>
          <div class="flex py-1">
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
          </div>
          <div class="py-2">
            "Located at very nice location"
          </div>
        </div>

        <div class="bg-[#F0EBFC] block w-full mt-4 rounded-xl p-8">
          <div>
            <!-- <img src="https://lh3.googleusercontent.com/a-/ALV-UjVAY_xQY4wzlROWWLLGzN5s7AEmIJb3tIdQPUz5P8wTO1RsltDO=s72-c-rp-mo-br100"
                            class="w-20 h-20 rounded-full border-2 border-yellow-500" alt="students"> -->
            <div
              class="w-20 h-20 rounded-full border-2 border-yellow-500 bg-violet-600 flex items-center justify-center">
              <h1 class="text-2xl font-medium text-center text-white">N</h1>
            </div>
          </div>
          <div class="py-2">Nagi Seishiro</div>
          <div class="flex py-1">
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-white ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
          </div>
          <div class="py-2">
            <!-- "Donec sollicitudin molestie malesuada. Donec rutrum congue leo eget malesuada. Vivamus magna
                        justo,
                        lacinia eget consectetur sed, convallis at tellus." -->
          </div>
        </div>
        <div class="bg-[#FFEDEE] block w-full mt-4 rounded-xl p-8">
          <div>
            <!-- <img src="https://lh3.googleusercontent.com/a-/ALV-UjXK9Y0SpPmUwlZ1bf_ZhviR5k40_tOg1hYuvDgaA5HdiZur0Iqz=s72-c-rp-mo-br100"
                            class="w-20 h-20 rounded-full border-2 border-yellow-500" alt="students"> -->
            <div class="w-20 h-20 rounded-full border-2 border-yellow-500 bg-red-600 flex items-center justify-center">
              <h1 class="text-2xl font-medium text-center text-white">A</h1>
            </div>
          </div>
          <div class="py-2">Âryàñ Kåshyâp</div>
          <div class="flex py-1">
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
          </div>
          <div class="py-2">
            <!-- "Donec sollicitudin molestie malesuada. Donec rutrum congue leo eget malesuada. Vivamus magna
                        justo,
                        lacinia eget consectetur sed, convallis at tellus." -->
          </div>
        </div>
        <div class="bg-[#EBF4FF] block w-full mt-4 rounded-xl p-8">
          <div>
            <!-- <img src="/icons/pic.webp" class="w-20 h-20 rounded-full border-2 border-yellow-500" alt="students"> -->
            <div
              class="w-20 h-20 rounded-full border-2 border-yellow-500 bg-green-600 flex items-center justify-center">
              <h1 class="text-2xl font-medium text-center text-white">S</h1>
            </div>
          </div>
          <div class="py-2">Sohaib ansari</div>
          <div class="flex py-1">
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
          </div>
          <div class="py-2">
            <p> "Exellent"
            </p>
          </div>
        </div>
      </div>
    </div>

    <div data-aos="fade-up">
      <%- include("logo.ejs") %>
    </div>

    <% if (randomAd) { %>
      <!-- Modal Backdrop with Blur and Transition -->
      <div id="modal1"
        class="modal fixed inset-0 bg-opacity-50 w-full h-full flex justify-center z-50 items-center scale-100 opacity-100 transition-all duration-500 ease-out">

        <!-- Close Button (Positioned at the Top of the Screen) -->
        <div id="closeBtn"
          class="hidden absolute w-full text-xl font-bold rounded-md left-1/2 top-0 z-50 transform -translate-x-1/2 text-right text-white">
          <button class="text-left bg-white rounded-full p-2 mx-2 my-2" onclick="closeModal('modal1')">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="md:w-12 md:h-12 w-8 h-8" viewBox="0 0 48 48">
              <linearGradient id="hbE9Evnj3wAjjA2RX0We2a_OZuepOQd0omj_gr1" x1="7.534" x2="27.557" y1="7.534" y2="27.557"
                gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#f44f5a"></stop>
                <stop offset=".443" stop-color="#ee3d4a"></stop>
                <stop offset="1" stop-color="#e52030"></stop>
              </linearGradient>
              <path fill="url(#hbE9Evnj3wAjjA2RX0We2a_OZuepOQd0omj_gr1)"
                d="M42.42,12.401c0.774-0.774,0.774-2.028,0-2.802L38.401,5.58c-0.774-0.774-2.028-0.774-2.802,0	L24,17.179L12.401,5.58c-0.774-0.774-2.028-0.774-2.802,0L5.58,9.599c-0.774,0.774-0.774,2.028,0,2.802L17.179,24L5.58,35.599	c-0.774,0.774-0.774,2.028,0,2.802l4.019,4.019c0.774,0.774,2.028,0.774,2.802,0L42.42,12.401z">
              </path>
              <linearGradient id="hbE9Evnj3wAjjA2RX0We2b_OZuepOQd0omj_gr2" x1="27.373" x2="40.507" y1="27.373"
                y2="40.507" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#a8142e"></stop>
                <stop offset=".179" stop-color="#ba1632"></stop>
                <stop offset=".243" stop-color="#c21734"></stop>
              </linearGradient>
              <path fill="url(#hbE9Evnj3wAjjA2RX0We2b_OZuepOQd0omj_gr2)"
                d="M24,30.821L35.599,42.42c0.774,0.774,2.028,0.774,2.802,0l4.019-4.019	c0.774-0.774,0.774-2.028,0-2.802L30.821,24L24,30.821z">
              </path>
            </svg>
          </button>

        </div>

        <!-- Modal Content -->
        <div
          class="modal-content px-4 py-10 pt-12 shadow-md flex flex-col items-center relative bg-black bg-opacity-50 w-full h-full overflow-hidden">
          <div class="relative w-full h-full flex-grow overflow-hidden">
            <!-- Ad Image -->
            <img src="<%= randomAd.image_url%>" loading="lazy" alt="<%= randomAd.title %>"
              class="w-full h-full object-contain rounded-md -top-2">
          </div>
        </div>

        <div class="absolute bottom-0 p-4 w-full">
          <p class="text-2xl font-medium text-white text-center">
          </p>
        </div>
      </div>


      <script>
        // Close modal function
        function closeModal(modalId) {
          const modal = document.getElementById(modalId);
          modal.classList.add('hidden');
          enableScrolling();
        }

        function disableScrolling() {
          document.body.style.overflow = 'hidden';
        }

        function enableScrolling() {
          document.body.style.overflow = '';
        }

        document.addEventListener('DOMContentLoaded', function () {
          disableScrolling();

          // Show close button after 5 seconds
          setTimeout(function () {
            const closeButton = document.getElementById('closeBtn');
            closeButton.classList.remove('hidden');
          }, 5000);
          setTimeout(function () {
            closeModal('modal1');
          }, 20000);

        });
      </script>

      <style>
        .modal {
          transition: opacity 0.5s ease-out, transform 0.5s ease-out;
          transform: scale(0.9);
          opacity: 0;
        }

        .modal.scale-100 {
          transform: scale(1);
          opacity: 1;
        }

        /* Optional: Style for the close button */
        #closeBtn {
          transition: opacity 0.5s ease-out;
        }
      </style>
      <% } %>


        <!-- Subscription Modal -->
        <div id="subscribeModal" style="display: none;"
          class="fixed inset-0 items-center justify-center bg-opacity-0 z-50 p-4">
          <div
            class="bg-white rounded-3xl shadow-2xl max-w-lg w-full p-8 relative transform transition-transform duration-300 ease-in-out hover:scale-105">

            <button id="closeModal" aria-label="Close subscription modal"
              class="absolute top-5 right-5 text-gray-400 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-pink-500 rounded-full p-1">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>

            <h2 class="text-3xl font-extrabold text-gray-900 mb-4 text-center">Join Our Newsletter</h2>
            <p class="text-center text-gray-600 mb-8">Get the latest updates and offers delivered straight to your
              inbox.</p>

            <% if (errorMessage) { %>
              <div class="text-red-500 mb-4 text-center">
                <strong>
                  <%= errorMessage %>
                </strong>
              </div>
              <% } %>

                <form action="/subscribe" method="POST" class="flex flex-col gap-4" autocomplete="on">
                  <input type="email" name="email" placeholder="Your email address" required autocomplete="email"
                    class="px-5 py-3 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#F6C663] focus:border-[#F6C663] transition" />

                  <input type="tel" name="phone" placeholder="Your phone number" required autocomplete="tel"
                    class="px-5 py-3 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#F6C663] focus:border-[#F6C663] transition" />

                  <button type="submit"
                    class="bg-[#F6C663] hover:bg-[#F9BC3E] focus:ring-0 text-white rounded-full px-8 py-3 font-semibold shadow-lg transition">
                    Subscribe
                  </button>
                </form>
          </div>
        </div>

        <script>
          document.addEventListener('DOMContentLoaded', () => {
            const showSubscribeModal = <%= showSubscribeModal ? 'true' : 'false' %>;
            const modal = document.getElementById('subscribeModal');
            const closeBtn = document.getElementById('closeModal');

            console.log('showSubscribeModal:', showSubscribeModal);
            console.log('Modal element:', modal);
            console.log('Close button:', closeBtn);

            if (showSubscribeModal === 'true' && modal) {
              setTimeout(() => {
                modal.style.display = 'flex'; // show modal
              }, 5000); // change to 5000ms for a real delay
            }

            if (closeBtn && modal) {
              closeBtn.addEventListener('click', () => {
                modal.style.display = 'none'; // hide modal
              });
            }
          });
        </script>


        <% if (!cookieConsent) { %>
          <div id="cookieConsent"
            class="fixed bottom-0 left-0 right-0 bg-black bg-opacity-75 text-white p-2 text-center z-50">
            <p class="text-sm">This website uses cookies to improve your experience. By continuing to
              browse, you agree to our cookie policy.</p>
          </div>

          <script>
            document.addEventListener('DOMContentLoaded', function () {
              setTimeout(function () {
                var cookieConsentElement = document.getElementById('cookieConsent');
                if (cookieConsentElement) {
                  cookieConsentElement.style.transition = 'opacity 0.5s ease-out';
                  cookieConsentElement.style.opacity = 0;

                  setTimeout(function () {
                    cookieConsentElement.style.display = 'none';
                  }, 500);
                }
              }, 5000);
            });
          </script>
          <% } %>
            <script>
              AOS.init();
            </script>
            <%- include("Footer.ejs") %>
  </body>

  </html>