<%- include("header.ejs") %>

    <head>
        <style>
            .background {
                background-color: #FFFFFF;
            }
        </style>
    </head>

    <body>
        <div class="md:flex p-10 bg-gradient-to-b from-white via-[#f3f0fc] via-70% to-white">
            <div class="block p-6 md:w-2/4 mx-auto my-auto">
                <div class="md:flex hidden justify-end">
                    <img src="/icons/arrowbig.svg" class="lg:w-36 md:w-24 top-10 relative rotate-[8deg]" alt="">
                </div>
                <div
                    class="bg-[#D2C6FA] rounded-3xl w-fit my-4 p-2 text-center text-[#201042] font-semibold rotate-[-1deg] mx-auto md:mx-0">
                    Enroll Now at Divine Wisdom School!
                </div>
                <div class="font-extrabold text-6xl md:text-left text-center">Stay in the loop</div>
                <div class="font-medium leading-8 md:text-left text-center">Divine Wisdom School offers a complete
                    educational experience from Pre-Nursery through Grade 12, adhering to the CBSE curriculum. Our
                    dedicated faculty and state-of-the-art facilities support students across all streams—Science,
                    Commerce, and Humanities—ensuring a well-rounded and rigorous education.</div>
                <div class="font-bold text-center md:text-left">Not enrolled in our school?</div>
                <div class="md:flex py-4 justify-center md:justify-start w-fit mx-auto md:mx-0">
                    <div
                        class="bg-[#F6C663] hover:bg-[#F9BC3E] flex rounded-full text-center text-xl px-4 py-2 md:my-0 my-4 animation-arrow mx-auto">
                        <div>Enroll Today</div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="my-auto mx-auto">
                            <path d="M5 12l14 0"></path>
                            <path d="M15 16l4 -4"></path>
                            <path d="M15 8l4 4"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="md:w-2/4 my-auto md:relative">
                <div class="flex justify-end relative -mb-64 z-0 overflow-hidden md:mr-0 md:top-0 -top-16 -mr-10 "><img
                        src="/icons/dotedlines.svg" class="h-72 object-cover rotate-90" alt=""></div>

                <div class="xl:w-3/4 mx-auto block md:grid grid-rows-6 grid-flow-col gap-4 z-10 relative">
                    <div class="bg-[#EAE1FC] row-span-2 my-4 rounded-xl p-6 text-center ">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"
                            class="dHctdy0xMA dHctaC0xMA dHctdGV4dC1wdXJwbGUtNzAw">
                            <path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10"></path>
                            <path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2"></path>
                        </svg>
                        <h6 class="text-2xl font-semibold uppercase">On the Basis of Class X Board Result</h6>
                        <p class="text-justify">An Annual Scholarship Sponsored by Lala Atma Ram Memorial Society in the
                            name of 'Lt. Smt.
                            Nirmala Devi Scholarship' worth Rs. 5000/- to the students scoring 92% and above in the
                            Board
                            Examination.</p>
                        <div></div>
                    </div>
                    <div class="bg-[#FFEBEC] row-span-2 rounded-xl p-6 h-full align-middle my-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"
                            class="dHctdy0xMA dHctaC0xMA dHctdGV4dC1wdXJwbGUtNzAw">
                            <path d="M3.5 5.5l1.5 1.5l2.5 -2.5"></path>
                            <path d="M3.5 11.5l1.5 1.5l2.5 -2.5"></path>
                            <path d="M3.5 17.5l1.5 1.5l2.5 -2.5"></path>
                            <path d="M11 6l9 0"></path>
                            <path d="M11 12l9 0"></path>
                            <path d="M11 18l9 0"></path>
                        </svg>
                        <h6 class="text-2xl font-semibold uppercase text-center">Fee Concession</h6>
                        <p class="text-justify">We offer a 35% concession in tuition fees for meritorious students based
                            on
                            their academic results. This scholarship aims to reward excellence and support dedicated
                            learners in their educational journey.</p>
                        <div></div>
                    </div>
                    <div class="bg-[#E9F2FF] row-span-2 my-4 rounded-xl p-6">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"
                            class="dHctdy0xMA dHctaC0xMA dHctdGV4dC1wdXJwbGUtNzAw">
                            <path
                                d="M13.62 8.382l1.966 -1.967a2 2 0 1 1 3.414 -1.415a2 2 0 1 1 -1.413 3.414l-1.82 1.821">
                            </path>
                            <path
                                d="M5.904 18.596c2.733 2.734 5.9 4 7.07 2.829c1.172 -1.172 -.094 -4.338 -2.828 -7.071c-2.733 -2.734 -5.9 -4 -7.07 -2.829c-1.172 1.172 .094 4.338 2.828 7.071z">
                            </path>
                            <path d="M7.5 16l1 1"></path>
                            <path
                                d="M12.975 21.425c3.905 -3.906 4.855 -9.288 2.121 -12.021c-2.733 -2.734 -8.115 -1.784 -12.02 2.121">
                            </path>
                        </svg>
                        <h6 class="text-2xl font-semibold uppercase text-center">कुंजना 'बेटी है अनमोल</h6>
                        <p class="text-justify">School management adopts one girl child every year who is meritorious
                            but
                            economically weak and
                            renders all the responsibility of their education. The Scholarship continuous to next year
                            also
                            provided that girl full fils desired conditions for the scholarship.</p>
                        <div></div>
                    </div>
                    <div></div>
                    <div class="bg-[#EAFDF7] row-span-2 my-4 rounded-xl p-6">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"
                            class="dHctdy0xMA dHctaC0xMA dHctdGV4dC1wdXJwbGUtNzAw">
                            <path d="M12 12m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0"></path>
                            <path d="M12 7v-4"></path>
                            <path d="M11 3h2"></path>
                            <path d="M15.536 8.464l2.828 -2.828"></path>
                            <path d="M17.657 4.929l1.414 1.414"></path>
                            <path d="M17 12h4"></path>
                            <path d="M21 11v2"></path>
                            <path d="M15.535 15.536l2.829 2.828"></path>
                            <path d="M19.071 17.657l-1.414 1.414"></path>
                            <path d="M12 17v4"></path>
                            <path d="M13 21h-2"></path>
                            <path d="M8.465 15.536l-2.829 2.828"></path>
                            <path d="M6.343 19.071l-1.413 -1.414"></path>
                            <path d="M7 12h-4"></path>
                            <path d="M3 13v-2"></path>
                            <path d="M8.464 8.464l-2.828 -2.828"></path>
                            <path d="M4.929 6.343l1.414 -1.413"></path>
                        </svg>
                        <h6 class="text-2xl font-semibold uppercase text-center">Kabaddi Academy</h6>
                        <p class="text-justify">Join our Kabaddi Academy, where students develop skills, discipline, and
                            teamwork through structured training and competitive play. Discover the perfect balance of
                            academics and athletics!</p>
                        <div></div>
                    </div>
                    <div class="bg-[#FDEECD] row-span-2 my-4 rounded-xl p-6">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"
                            class="dHctdy0xMA dHctaC0xMA dHctdGV4dC1wdXJwbGUtNzAw">
                            <path d="M15 8h.01"></path>
                            <path d="M3 6a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v12a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3v-12z">
                            </path>
                            <path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l5 5"></path>
                            <path d="M14 14l1 -1c.928 -.893 2.072 -.893 3 0l3 3"></path>
                        </svg>
                        <h6 class="text-2xl font-semibold uppercase text-center">Cricket Academy</h6>
                        <p class="text-justify">Discover our Cricket Academy, designed for budding cricketers to hone
                            their
                            skills, gain match experience, and learn the nuances of the game. Our expert coaches provide
                            personalized training to help students excel on the field.</p>
                        <div></div>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>

        <!-- Upcoming Events Section -->
        <div id="events">
            <div class="text-6xl mt-24 py-6 text-center font-bold">Upcoming events</div>
            <p class="text-center w-5/6 md:w-2/4 mx-auto p-4 pb-10 text-xl">Stay updated with the latest events
                organized by Divine Wisdom School! From academic seminars and sports tournaments to cultural festivals
                and parent-teacher meetings, our calendar is packed with activities designed to enrich the school
                experience. Check back regularly for details and get involved in our vibrant school life.</p>


            <% const colors=['#faf2db', '#f2effb' , '#fbf0f2' , '#f3fefa' ]; %>
                <div class="grid md:grid-cols-2 grid-cols-1 gap-4 p-4">
                    <% if (events && events.length> 0) { %>
                        <%const latestEvents=events.slice(-4); latestEvents.forEach(function(event, index) { %>
                            <div class="md:min-h-72 md:flex rounded-3xl h-full"
                                style="background-color: <%= colors[index % colors.length] %>">
                                <div class="md:w-[40%] md:h-auto h-64 w-full">
                                    <img class="h-full w-full md:rounded-l-3xl rounded-t-3xl md:rounded-r-none"
                                        src="data:image/jpeg;base64,<%= event.image.toString('base64') %>"
                                        alt="<%= event.heading %>">
                                </div>
                                <div class="md:w-[60%] md:h-auto h-1/2 my-auto md:px-4 p-6 md:text-left text-center">
                                    <div class="bg-[#D2C6FA] rounded-full w-fit px-4 mx-auto md:mx-0">
                                        <% const eventDate=new Date(event.date); const
                                            day=String(eventDate.getDate()).padStart(2, '0' ); const
                                            month=String(eventDate.getMonth() + 1).padStart(2, '0' ); const
                                            year=eventDate.getFullYear(); const
                                            formattedDate=`${day}/${month}/${year}`;%>
                                            <%= formattedDate %>
                                    </div>
                                    <h6 class="py-3 text-3xl 2xl:text-6xl font-bold">
                                        <%= event.heading %>
                                    </h6>
                                    <p class="2xl:text-3xl">
                                        <%= event.description %>
                                    </p>
                                </div>
                            </div>
                            <% }); %>
                                <% } else { %>
                                    <p
                                        class="text-center text-xl col-span-2 row-span-2 bg-yellow-500 shadow-2xl w-fit mx-auto p-4 rounded-xl text-white">
                                        No events available.
                                    </p>
                                    <% } %>
                </div>
        </div>

        <!-- News Section -->
        <div id="news">
            <h6 class="text-center text-6xl font-bold mt-16 p-4 pb-0">Our News Letter</h6>
            <p class="p-4 text-center">Welcome to this month’s edition of our school newsletter! We are delighted to
                keep
                you informed about the latest happenings, achievements, and important updates from our school. Your
                support
                and engagement are key to our students' success, and we are excited to share these highlights with you.
            </p>
            <div class="bg-[#4F49A5] h-fit p-4 rounded-xl mx-4">
                <marquee behavior="scroll" height="500px" direction="up" loop="" scrollamount="4"
                    onmouseover="this.stop();" onmouseout="this.start();">
                    <div class="grid md:grid-cols-2 gap-4 text-center">
                        <% if (news && news.length> 0) { %>
                            <% news.forEach(function(i) { %>
                                <div class="h-auto p-4 bg-white rounded-xl">
                                    <h2 class="text-3xl uppercase">
                                        <%= i.heading %>
                                    </h2>
                                    <p><%- i.newsContent %></p>
                                </div>
                                <% }); %>
                                    <% } else { %>
                                        <div class="h-auto p-4 bg-white rounded-xl col-span-2">
                                            <h2 class="text-3xl uppercase">No news available</h2>
                                        </div>
                                        <% } %>
                    </div>
                </marquee>
            </div>
        </div>

        <%- include("logo.ejs") %>
            <%- include("Footer.ejs") %>

                <script src="/javascript/index.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    </body>

    </html>